TgCrypto
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls
telegraph
telethon 
gTTS
googletrans==4.0.0rc1
asyncio
requests
aiohttp
aiofiles
python-decouple
asyncio
wget
heroku3
pillow
python-arq
python-dotenv
natsort
